/* phone < tablet */
@media (max-width:767px) {
    html {
        font-size: 85%;
    }

    .nav-icon #menu {
        display: inline-block;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        transition: 0.3s;
        width: 100%;
        height: 100vh;
    }

    .nav-menu.active {
        right: 0;
    }

    .navbar .nav-menu a {
        color: #000;
        display: block;
        justify-content: center;
        margin: 1.5rem;
        padding: 0.5rem;
        font-weight: bold;
        text-align: center;
    }

    .navbar .nav-menu a::after {
        transform-origin: 0 0;
    }

    .navbar .nav-menu a:hover::after {
        transform: scaleX(1);
    }

    .landing-page {
        text-align: center;
        flex-wrap: wrap-reverse;
    }

    .landing-image {
        width: 100%;
        height: 100%;
    }

    .landing-page img {
        width: 280px;
        height: 250px;
        margin-top: 40px;
    }

    .stepper-wrapper {
        height: fit-content;
        flex-direction: column;
    }

    .stepper-item {
        margin: 6px;
    }

    .stepper-item::after {
        display: none;
    }

}


/* TABLET < laptop */
@media (min-width:768px) and (max-width:991px) {
    html {
        font-size: 95%;
    }

    .nav-icon #menu {
        display: inline-block;
    }

    .nav-menu {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        transition: 0.3s;
        width: 30rem;
        height: 100vh;
    }

    .nav-menu.active {
        right: 0;
    }

    .navbar .nav-menu a {
        color: #000;
        display: block;
        justify-content: center;
        margin: 1.5rem;
        padding: 0.5rem;
        font-weight: bold;
    }

    .navbar .nav-menu a::after {
        transform-origin: 0 0;
    }

    .navbar .nav-menu a:hover::after {
        transform: scaleX(1);
    }

    .landing-page {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap-reverse;
    }

    .landing-image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .landing-page img {
        margin-top: 20px;
        width: 500px;
        height: 450px;
    }

}

/* UNIVERSAL <= 911PX */
@media(max-width:991px) {
    .landing-text p {
        text-align: left;
    }

    .landing-text button.landing-cta {
        width: 100%;
    }

    .brand {
        justify-content: center;
        height: fit-content;
        flex-wrap: wrap;
    }

    .brand img {
        height: 100px;
        width: min-content;
    }

    .top-selection {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .best-seller-item {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer {
        display: block;
    }


}